<ion-view view-title="Add Deals">
  <ion-content>
	  <div class="list list-inset" id="list_deals">
		  <label class="item item-input">
		    <input type="text" placeholder="Search Store">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Deal Title">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Details">
		  </label>
		  	  <label class="item item-input start_left">
		    <input type="text" placeholder="Value">
		  </label>
      <label class="offDropDown item item-input item-select start_right">
        <div class="input-label">
          % OFF
        </div>
        <select>
          <option>10</option>
          <option>20</option>
          <option>30</option>
          <option>40</option>
          <option>50</option>
          <option>60</option>
          <option>70</option>
          <option>80</option>
          <option>90</option>
        </select>
      </label>
		  	  <label class="item item-input start_left">
		    <input type="text" placeholder="Start Date">
		  </label>
		  	  <label class="item item-input start_right">
		    <input type="text" placeholder="End Date">
		  </label>
	</div>
	<div class="addProductFormFooter">
		<div class="photoInput">
			 <div class="placeholderPictureInput">
				<i class="icon ion-image"></i>
				<p>Select / Take photo</p>
			 </div>
		 </div>
			<button class="button button-block button-balanced">
		  ADD DEAL
		</button>
  </div>
  </ion-content>
</ion-view>
