<ion-view view-title="Add Product">
  <ion-content>

    <div id="container" class="list list-inset form-list">
      <label id="rounded" class="item item-input form">
        <input type="text" placeholder="Search Store">
      </label>

      <label id="rounded" class="item item-input form">
        <input type="text" placeholder="Add/Select Product">
      </label>

      <label id="rounded" class="item item-input form">
        <input type="text" placeholder="Product Detail">
      </label>

      <label id="rounded" class="item item-input form">
        <input type="text" placeholder="Price">
      </label>
    </div>

    <div class="addProductFormFooter">
      <div class="photoInput">
        <div class="placeholderPictureInput">
          <i class="icon ion-image"></i>
          <p>Select / Take photo</p>
        </div>
        <button id="addProductButton" class="button button-block button-positive">
          ADD PRODUCT
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
