<ion-view view-title="Deals View">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
    </ion-nav-buttons>
  <ion-content>

    <div class="item item-image">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.produkhero.com/img/ZaraSale.jpg">
    </div>

    <div class="row">
      <div class="item item-left col-80">
        <h2 class="dealsHeader">Zara Spring/Summer Deal</h2>
        <p class="itemSubheader">Deal</p>
        <p class="itemDescription">Details of the deal somewhere here.</p>
      </div>

      <div class="item col">
        <p class="dealsPrice">20%</p>
      </div>
    </div>

    <div class="item item-avatar postedBy">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.produkhero.com/img/avatar-1.png">
      <p class="subHeader">
        POSTED BY
        <span class="item-note postDate">1 DAY AGO</span>
      </p>
      <p class="postName">Virginia Rivera</p>
    </div>

    <div class="footerWrapper">
      <a href="#/app/wishlist"><button id="wishlistButton" class="button button-block button-assertive">
        <i class="icon ion-ios-heart-outline"></i>
        ADD TO WISHLIST
      </button></a>
      <p class="detailsFooter">OTHER DEALS & PRODUCTS FROM THIS STORE</p>
    </div>

</ion-content>
</ion-view>
