<ion-view view-title="Your Store">
  <ion-content>

    <div class="list profileStore">
      <div class="item">
        <img width="100px" src="https://s3-ap-southeast-1.amazonaws.com/assets.produkhero.com/img/web-store.png">
      </div>
      <h3 class="storeName">Store Name</h3>
      <p class="storeAddress">Suria KLCC (Lot C51, Concourse Level)</p>
      <p class="storeAddress">50088 Kuala Lumpur, Kuala Lumpur</p>
      <p class="storeContact">
        <i class="icon ion-ios-telephone"></i>
        03-2380 0299
      </p>
      <ul>
        <li>10 DEALS</li>
        <li>10 PRODUCTS</li>
      </ul>
    </div>

    <div class="item item-image">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.produkhero.com/img/product-card-1.png">
    </div>

    <div class="row">
      <div class="item item-left col-70">
        <h2 class="itemHeader">Product Name</h2>
        <p class="itemSubheader">Store Name</p>
        <p class="itemDescription">Short description by the uploader.</p>
      </div>

      <div class="item col-40">
        <p class="itemPrice">$90</p>
      </div>
    </div>

    <div class="item item-avatar postedBy">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.produkhero.com/img/avatar-1.png">
      <p class="subHeader">
        POSTED BY
        <span class="item-note postDate">1 DAY AGO</span>
      </p>
      <p class="postName">Virginia Rivera</p>
    </div>

  </ion-content>
</ion-view>
