<ion-view view-title="Wishlist">
  <ion-content>

    <div class="list wishlist">

      <div class="item item-divider">
        1.5KM FROM YOUR LOCATION
      </div>

      <div class="row wishlistItem">
        <a class="item col-50" href="#">
          Medium T-Shirt
          <p class="wishlistSub">Zara</p>
          <p class="wishlistDetails">#03-465 Berjaya Times Square</p>
        </a>
        <p class="col wishlistPrice">$90</p>
      </div>
      <div class="row wishlistItem">
        <a class="item col-50" href="#">
          Playstation 4
          <p class="wishlistSub">Sony Store</p>
          <p class="wishlistDetails">#03-465 Berjaya Times Square</p>
        </a>
        <p class="col wishlistPrice">20%</p>
      </div>
      <div class="row wishlistItem">
        <a class="item col-50" href="#">
          Raya Specials
          <p class="wishlistSub">Top Man</p>
          <p class="wishlistDetails">#03-465 Berjaya Times Square</p>
        </a>
        <p class="col wishlistPrice">$90</p>
      </div>
      <div class="row wishlistItem">
        <a class="item col-50" href="#">
          Min Purchase of
          <p class="wishlistSub">Warehouse</p>
          <p class="wishlistDetails">#03-465 Berjaya Times Square</p>
        </a>
        <p class="col wishlistPrice">500RM</p>
      </div>

      <div class="item item-divider">
        2KM+ FROM YOUR LOCATION
      </div>

      <div class="row wishlistItem">
        <a class="item col-50" href="#">
          Product Name
          <p class="wishlistSub">Store Name</p>
          <p class="wishlistDetails">#00-000 Store Address</p>
        </a>
        <p class="col wishlistPrice">$90</p>
      </div>
      <div class="row wishlistItem">
        <a class="item col-50" href="#">
          Product Name
          <p class="wishlistSub">Store Name</p>
          <p class="wishlistDetails">#00-000 Store Address</p>
        </a>
        <p class="col wishlistPrice">$90</p>
      </div>
      <div class="row wishlistItem">
        <a class="item col-50" href="#">
          Product Name
          <p class="wishlistSub">Store Name</p>
          <p class="wishlistDetails">#00-000 Store Address</p>
        </a>
        <p class="col wishlistPrice">$90</p>
      </div>
      <div class="row wishlistItem">
        <a class="item col-50" href="#">
          Product Name
          <p class="wishlistSub">Store Name</p>
          <p class="wishlistDetails">#00-000 Store Address</p>
        </a>
        <p class="col wishlistPrice">$90</p>
      </div>
    </div>

  </ion-content>
</ion-view>
